@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


:root {
    --main-color-one: rgb(243, 182, 18);
    --main-color-two: rgb(22, 31, 59);
    --background-color: #f4f4f4;
    --sidebar-width: 250px;
    --navbar-height: 60px;
}

::-webkit-scrollbar {
    width: 10px; 
    height: 10px; 
}

::-webkit-scrollbar-track {
    background: #fff; 
    border-radius: 10px; 
}
::-webkit-scrollbar-thumb {
    background: var(--main-color-two); 
    border-radius: 10px; 
}
::-webkit-scrollbar-thumb:hover {
    background: var(--main-color-one); 
}


::-webkit-scrollbar-corner {
    background: #f1f1f1; 
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    font-family: Lato, sans-serif;
    background-color: var(--background-color);
}
a {
    text-decoration: none;
}

ul {
    list-style: none;
}
.newflex{
    display: flex;
    gap: .2rem;
}
.active{
    color: var(--main-color-one);
}
.nav i{
    display: none;
}
.nav i:hover{
    color: #fff;
}
.heading img{
    width: 100px;
    height: 50px;
    object-fit: cover;
}
.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2.5rem;
}
.nav a{
    color: var(--main-color-two);
    font-weight: 500;
    font-size: 15px;
}
.profile{
    background: var(--main-color-one);
    height: 150px;
    position: relative;
}
.profile img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.profile-info{
    display: flex;
    align-items: center;
    padding-inline-start: 5rem;
    padding-block-start: 1rem;
    gap: 2rem;
}
.profile-details{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-size: 15px;
}
.profile-details a{
    color: var(--main-color-two);
    font-weight: 700;
    transition: .5s ease-in-out;
}
.profile-details a:hover{
    text-decoration: underline;
}
.subscription{
    margin: auto;
    width: 80%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    height: 200px;
    border-radius: 20px;
    background: whitesmoke;
    position: absolute;
    top: 50%;
    right: 10%;
}
.subscription .top{
    height: 50%;
    font-size: 15px;
}
.subscription .top span{
    color: var(--main-color-one);
}
.subscription-status{
    display: flex;
    padding: 30px;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}
.subscription-status .status,.wallet{
    display: flex;
    justify-content: space-between;
}
.subscription .bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: auto;
}
.bottom a{
    font-size: 18px;
    text-align: center;
    color: var(--main-color-two);
}
.bottom a i{
    font-size: 2rem;
}
.subscription .subscribe,.fund-wallet{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.profile-settings{
    width: 82%;
    margin: auto;
    margin-block-start: 6rem;
}
.account-settings{
    width: 82%;
    margin: auto;
    margin-block-start: 2rem;
}
.profile-settings h3,.account-settings h3{
    color: var(--main-color-one);
    text-align: center;
}
.sub-profile{
    margin: auto;
    width: 100%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    /* height: 230px; */
    border-radius: 20px;
    background: whitesmoke;
}
.flex{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    padding: 7px 4px;
    border-bottom: 1px solid wheat;
    color: var(--main-color-two);
}
.logout{
    display: flex;
    max-width: 400px;
    height: 100px;
}
.logout a{
    display: flex;
    font-size: 1.5rem;
    background: var(--main-color-one);
    color: var(--main-color-two);
    padding: 10px 30px;
    margin: auto;
    border-radius: 15px;
}
.logout a:hover{
    background: var(--main-color-two);
    color: var(--main-color-one);
}



/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: center;
    /* display: flex;
    flex-direction: column;
    gap: .2rem; */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}
input[type="file"] {
    display: none;
}

/* Style the custom file input container */
.custom-file-input {
    display: inline-block;
    background-color: var(--main-color-two);
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

/* Style the label text */
.custom-file-input-label {
    font-size: 16px;
    color: var(--main-color-one);
}
.btn{
    font-size: 1rem;
    background: var(--main-color-one);
    color: var(--main-color-two);
    padding: 5px 20px;
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
    border: 0;
}
.btn:hover{
    background: var(--main-color-two);
    color: var(--main-color-one);
}
#businessInfoForm{
    display: flex;
    flex-direction: column;
    gap: .8rem;
}
#businessInfoForm .modal-content{
    background: #f4f4f4;
}

#businessInfoForm label{
    font-size: medium;
    display: block;
    text-align: left;
    color: var(--main-color-two);
    font-weight: 700;
}
#businessInfoForm input{
    width: 100%;
    border: 1px solid var(--main-color-one);
    padding: 8px 12px;
    border-radius: 10px;
    /* background: whitesmoke; */
}
#businessInfoForm textarea{
    width: 100%;
    border: 1px solid var(--main-color-one);
    padding: 8px 12px;
    border-radius: 10px;
}
select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--main-color-one);
    border-radius: 5px;
    width: 100%;
    appearance: none; 
    -webkit-appearance: none; 
    /* background-color: white; */
    background-image: url('../Assest/Img/arrow-down.png');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    cursor: pointer;
    color: var(--main-color-two);
}

/* Style the select dropdown options */
select option {
    padding: 10px;
}

/* Style the select dropdown when hovered */
select:hover {
    border-color: #999;
}

/* Style the select dropdown when focused */
select:focus {
    border-color: #333;
    outline: none;
}

@media (max-width: 540px){
    .nav{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        gap: 1.5rem;
        align-items: center;
        justify-content: center;
        background: var(--main-color-two);
        z-index: 100;
        border-radius: 5px;
    }
    .nav a{
        font-size: .9.5rem;
        color: var(--main-color-one);
        padding: 2px;
    }
    .nav a i{
        display: block;
        text-align: center;
        font-size: 1.4rem;
    }
    .nav a:hover{
        color: #fff;
    }

    .profile{
        background: var(--main-color-one);
        height: 150px;
        position: relative;
    }
    .profile img{
        height: 80px;
        width: 80px;
        border-radius: 50%;
    }
    .profile-info{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-inline-start: 2rem;
        padding-block-start: 1rem;
        gap: .5rem;
    }
    .profile-details{
        display: flex;
        flex-direction: column;
        gap: .5rem;
        font-size: 15px;
    }
    .profile-details a{
        color: var(--main-color-two);
        font-weight: 700;
        transition: .5s ease-in-out;
    }
    .bottom a{
        font-size: 15px;
        text-align: center;
        color: var(--main-color-two);
    }
    .bottom a i{
        font-size: 1.5rem;
    }
    .logout a{
        display: flex;
        font-size: 1rem;
        background: var(--main-color-one);
        color: var(--main-color-two);
        padding: 10px 20px;
        margin: auto;
        font-weight: 600;
        border-radius: 15px;
        margin-top: 5px;
    }
    .subscription .bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        margin: auto;
    }
}
.error-container{
    width: 100%;
    padding: 10px 20px;
    background: var(--main-color-one);
    color: var(--main-color-two);
    height: 50px;
}
.errors{
    display: flex;
    justify-content: space-between;
    color: var(--main-color-two);
    font-weight: 700; 
    align-items: center;
}
.errors button{
    background: transparent;
    outline: 0;
    border: 0;
    font-size: 1rem;
}
.newflex{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 80%;
    margin-top: 10px;
}