{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'Assest/Img/ojm log.png'%}" type="image/x-icon" />
    <title>Select a Plan</title>
    <link rel="stylesheet" href="{% static 'Css/pay.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap">
</head>
<body>
    <div class="container">
        <h1>Select a Plan</h1>
        <p>Keep 100% of what you earn when you get hired. No hidden fees or commission</p>
        <button class="btn" onclick="showSection('subscribe-section')">Subscribe</button>
        <button class="btn" onclick="showSection('fund-wallet-section')">Fund Wallet</button>

        <form action="{% url 'payment:initiate_payment' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="payment_type" value="subscription">
            <div id="subscribe-section" class="section" style="display: none;">
                <h2>Subscribe to contact clients for free</h2>
                <input type="hidden" name="email" value="{{ request.user.email }}">
                
                <div class="plans">
                    {% for p in plan1 %}
                        {% if forloop.first %}
                            <div class="plan" onclick="selectSubscriptionPlan('subscribe-plan1', '₦{{ initial_amount1|floatformat:0 }}', 'Save ₦{{ p.calc|floatformat:0 }}')">
                                <input type="checkbox" id="subscribe-plan1" name="amount" value="{{ initial_amount1|floatformat:0 }}" hidden>
                                <label for="subscribe-plan1">
                                    <h3>{{ p.name }}</h3>
                                    <p class="price">₦{{ p.get_price }}</p>
                                    <p class="save">₦<s>{{ p.get_old_price }}</s> ({{ p.get_discount_percentage|floatformat:0 }}% off)</p>
                                </label>
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% for p in plan2 %}
                        {% if forloop.first %}
                            <div class="plan" onclick="selectSubscriptionPlan('subscribe-plan2', '₦{{ initial_amount2|floatformat:0 }}', 'Save ₦{{ p.calc|floatformat:0 }}')">
                                <input type="checkbox" id="subscribe-plan2" name="amount" value="{{ initial_amount2|floatformat:0 }}" hidden>
                                <label for="subscribe-plan2">
                                    <h3>{{ p.name }}</h3>
                                    <p class="price">₦{{ p.get_price }}</p>
                                    <p class="save">₦<s>{{ p.get_old_price }}</s> ({{ p.get_discount_percentage|floatformat:0 }}% off)</p>
                                </label>
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% for p in plan3 %}
                        {% if forloop.first %}
                            <div class="plan" onclick="selectSubscriptionPlan('subscribe-plan3', '₦{{ initial_amount3|floatformat:0 }}', 'Save ₦{{ p.calc|floatformat:0 }}')">
                                <input type="checkbox" id="subscribe-plan3" name="amount" value="{{ initial_amount3|floatformat:0 }}" hidden>
                                <label for="subscribe-plan3">
                                    <h3>{{ p.name }}</h3>
                                    <p class="price">₦{{ p.get_price }}</p>
                                    <p class="save">₦<s>{{ p.get_old_price }}</s> ({{ p.get_discount_percentage|floatformat:0 }}% off)</p>
                                </label>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            <p>Easiest ways to get customers</p>
            <div id="selected-subscription" class="selected-plan" style="display:none;">
                    <h3>Selected Subscription Plan</h3>
                    <p id="selected-subscription-price" class="price"></p>
                    <p id="selected-subscription-save" class="save"></p>
                    <button type="submit" class="btn">Pay Now</button>
                </div>
            </div>
        </form>

        <form action="{% url 'payment:initiate_payment' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="payment_type" value="payg">
            <div id="fund-wallet-section" class="section" style="display: none;">
                <h2>Fund your wallet to start paying per quote</h2>
                <input type="hidden" name="email" value="{{ request.user.email }}">
                <div class="plans">
                    <div class="plan" onclick="selectFundPlan('fund-plan1', '₦8,500', '₦10,000 (15% off)', 'Save ₦1,500')">
                        <input type="checkbox" id="fund-plan1" name="amount" value="8500" hidden>
                        <label for="fund-plan1">
                            <h3>₦8,500</h3>
                            <p class="save"><s>₦10,000</s> (15% off)</p>
                        </label>
                    </div>
                    <div class="plan" onclick="selectFundPlan('fund-plan2', '₦16,950', '₦20,000 (15% off)', 'Save ₦3,050')">
                        <input type="checkbox" id="fund-plan2" name="amount" value="16950" hidden>
                        <label for="fund-plan2">
                            <h3>₦16,950</h3>
                            <p class="save"><s>₦20,000</s> (15% off)</p>
                        </label>
                    </div>
                    <div class="plan" onclick="selectFundPlan('fund-plan3', '₦25,500', '₦30,000 (15% off)', 'Save ₦4,500')">
                        <input type="checkbox" id="fund-plan3" name="amount" value="25500" hidden>
                        <label for="fund-plan3">
                            <h3>₦25,500</h3>
                            <p class="save"><s>₦30,000</s> (15% off)</p>
                        </label>
                    </div>
                </div>
            <p>Easiest ways to get customers</p>
            <div id="selected-plan" class="selected-plan" style="display:none;">
                    <h3>Selected Plan</h3>
                    <p id="selected-plan-price" class="price"></p>
                    <p id="selected-plan-save" class="save"></p>
                    <button type="submit" class="btn">Pay Now</button>
                </div>
            </div>
        </form>
    </div>
    <script src="{% static 'Js/pay.js' %}"></script>
    <script>
        function showSection(sectionId) {
            document.getElementById('subscribe-section').style.display = 'none';
            document.getElementById('fund-wallet-section').style.display = 'none';
            document.getElementById(sectionId).style.display = 'block';
        }

        function selectSubscriptionPlan(planId, amount, save) {
            var plans = document.querySelectorAll('.plan input[type="checkbox"]');
            plans.forEach(function(plan) {
                plan.checked = false;
            });
            document.getElementById(planId).checked = true;
            document.getElementById('selected-subscription').style.display = 'block';
            document.getElementById('selected-subscription-price').innerText = amount;
            document.getElementById('selected-subscription-save').innerText = save;
        }

        function selectFundPlan(planId, price, discountPrice, save) {
            var plans = document.querySelectorAll('.plan input[type="checkbox"]');
            plans.forEach(function(plan) {
                plan.checked = false;
            });
            document.getElementById(planId).checked = true;
            document.getElementById('selected-plan').style.display = 'block';
            document.getElementById('selected-plan-price').innerText = price;
            document.getElementById('selected-plan-save').innerText = save;
        }
    </script>
</body>
</html>
