{% load static %}
<!DOCTYPE html>
<html lang="en-us">

<head>

  <!-- css links -->
  <link rel="stylesheet" href="{% static 'Css/style.css' %}">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <link rel="shortcut icon" href="Assest/Img/ojm log.png" type="image/x-icon" />
  <!-- icon link -->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <link rel="stylesheet" href="{% static 'Css/signup.css' %}">
  <style>
    .error-container{
      width: 100%;
      padding: 10px 20px;
      background: var(--main-color-one);
      color: var(--main-color-two);
      height: 75px;
  }
  </style>

</head>

<body>
  {%if form.errors%}
  {%for field, errors in form.errors.items%}
  {%if forloop.last%}
  <div class="error-container" id="error-container">
    <div class="errors" id="errors">
      
      <span>{{errors}}</span>
      
      <button class="close-button" onclick="removeDiv('error-container')">✖</button>
    </div>
  </div>
  {% endif %}
  {% endfor %}
  {% endif %}
  <section class="ojm_background">
    <header class="header" id="header">
      <nav class="nav contanier">

        <a href="{%url 'ojm_core:index'%}" class="nav_logo"><img src="{% static 'Assest/Img/ojm.png' %}" alt="" /></a>

        <div class="nav_menu" id="nav-menu">
          <ul class="nav_list">
            <li class="nav_item">
              <a href="{%url 'ojm_core:index'%}" class="nav_link active_link" style="color: rgb(243, 182, 18);">
                <i class="uil uil-estate nav_icon"></i> Home
              </a>
            </li>

            <li class="nav_item">
              <a href="{%url 'ojm_core:services'%}" class="nav_link">
                <i class="uil uil-briefcase-alt nav_icon"></i> Services
              </a>
            </li>

            <li class="nav_item">
              {%if request.user.is_authenticated%}

              <a href="{% url 'ojm_core:dashboard' %}" class="nav_link">
            <i class="uil uil-setting nav_icon"></i>Settings
              </a>
            {%else%}
            <a href="{% url 'userauth:sign' %}" class="nav_link">
              <i class="uil uil-user-plus nav_icon"></i> <span class="flex"><span>Join</span><span>Us</span></span>
                </a>
            </li>
            {% endif %}
            

            <li class="nav_item">
              <a href="https://bit.ly/contact_ojm" class="nav_link">
                <i class="uil uil-whatsapp nav_icon"></i> <span class="flex"><span>Contact</span><span>Us</span></span>
              </a>
            </li>
          </ul>
        </div>

        <div class="nav_btns">
          <div class="dot-container">
            <i class="uil uil-bell"></i>
            <div class="dot">1</div>
          </div>

          <div class="icon-container">
            <i class="uil uil-user" style="font-size: 25px; cursor: pointer;"></i>
            <div class="links-card">
              {%if request.user.is_authenticated%}
              <a href="sign.html">Account</a>
              {%else%}
              <a href="{% url 'userauth:sign' %}">Sign Up</a>
              {%endif%}
              {%if request.user.is_authenticated%}
              <a href="{% url 'userauth:logout' %}">Logout</a>
              {% else %}
              <a href="{% url 'userauth:login' %}">Login</a>
              {% endif %}
            </div>
          </div>
        </div>
        </div>
      </nav>
    </header>



    <div class="container">
      <div class="step-indicator">
        <div class="step" id="step1">1</div>
        <div class="step" id="step2">2</div>
        <div class="step" id="step3">3</div>
        <div class="step" id="step3">4</div>
        <div class="step" id="step4">5</div>
      </div>

      <form id="signupForm" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-step" id="step1Form">
          <h2>Step 1: Personal Information</h2>
          {{form.first_name}}
          <small></small>

          {{form.last_name}}
          <small></small>

          {{form.username}}
          <small></small>

          {{form.email}}
          <small></small>

          {{form.phone_number}}
          <small></small>

          <button type="button" onclick="nextStep(1)">Next</button>
        </div>


        <div class="form-step" id="step2Form">
          <h2>Step 2: Business Information</h2>
          {{form.business_name}}
          <small></small>
          {{form.service_description}}
          <small></small>
          <label for="businessProfilePicture">Profile Image</label>
          <small>Customers trust a face more than a logo</small>
          {{form.profile_picture}}
          <small></small>
          <label for="foundedDate">Founded date</label>
          {{form.founded_date}}
          <small></small>
          <div class="checkbox">
            {{form.registered}}
            <label for="registered">Registered Business</label>
          </div>
          <small></small>
          <button type="button" onclick="previousStep(1)">Previous</button>
          <button type="button" onclick="nextStep(2)">Next</button>
        </div>

        <div class="form-step" id="step3Form">
          <h2>Step 3: Set Password</h2>
          {{form.password1}}
          <small></small>
          {{form.password2}}
          <small></small>

          <button type="button" onclick="previousStep(2)">Previous</button>
          <button type="button" onclick="nextStep(3)">Next</button>
        </div>



        <div class="form-step" id="step4Form">
          <h2>Step 4: Location</h2>
          {{form.country}}
          <small></small>

          {{form.state}}
          <small></small>
          
          {{form.city}}
          <small></small>

          {{form.address}}          
          <small></small>

          <button type="button" onclick="previousStep(3)">Previous</button>
          <button type="button" onclick="nextStep(4)">Next</button>
        </div>

        <div class="form-step" id="step4Form">
          <h2>Step 5: Agree to Terms</h2>
          <div class="checkbox">
            {{form.terms}}
            <label for="terms">I agree to the terms and conditions</label>
          </div>
          <small></small>

          <button type="button" onclick="previousStep(4)">Previous</button>
          <button type="submit">Submit</button>
        </div>
      </form>
      <div class="already">
        <p>Already have an account?</p> 
        <span><a href="{%url 'userauth:login'%}">Login</a></span>

      </div>
    </div>




  </section>


  <!-- footer section  -->
  <footer class="footer">
    <div class="footer-content">
      <div>
        <h3>Company</h3>
        <ul>
          <li><a href="">FAQ</a></li>
          <li><a href="https://bit.ly/contact_ojm">Contact</a></li>
          <li><a href="">About us</a></li>
        </ul>
      </div>

      <div>
        <h3>Community</h3>
        <ul>
          <li><a href="{%url 'userauth:prof-signup'%}">Become An Electrician</a></li>
          <li><a href="{%url 'userauth:signup'%}">Become A Customer</a></li>
        </ul>
      </div>

      <div>
        <h3>Category</h3>
        <ul>
          <li><a href="">Electrical wiring</a></li>
        </ul>
      </div>

      <div>
        <h3>Contact info</h3>
        <ul>
          <li><a href=""><i class="uil uil-map-marker"></i>42 okoro road Aba, Abia state.</a></li>
          <li><a href=""><i class="uil uil-phone"></i>+2348109494805</a></li>
          <li><a href=""><i class="uil uil-envelop"></i>ojmelectrical@gmail.com</a></li>
        </ul>
      </div>

    </div>
    <hr class="footer_rows">

    <div class="footer-links">
      <p class="footer_copy">&#169; ojm electrical
        <script>document.write(new Date().getFullYear())</script>. All rights Reserved
      </p>


      <div class="footer_social">
        <a href="https://facebook.com" target="_blank" class="footer_social">
          <i class="uil uil-facebook-f"></i>
        </a>
        <a href="https://twitter.com" target="_blank" class="footer_social">
          <i class="uil uil-twitter-alt"></i>
        </a>
        <a href="https://instagram.com" target="_blank" class="footer_social">
          <i class="uil uil-instagram"></i>
        </a>
        <a href="https://whatsapp.com" target="_blank" class="footer_social">
          <i class="uil uil-whatsapp"></i>
        </a>
      </div>

      <a href="" class="payment">
        <img src="{% static 'Assest/Img/pay.png' %}" alt="">
      </a>
    </div>

  </footer>



  <script src="{% static 'Js/prof-signup.js' %}"></script>
  <script src="{% static 'Js/index.js' %}"></script>
</body>

</html>