{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'Assest/Img/ojm log.png'%}" type="image/x-icon" />
    <title>Service</title>
    <link rel="stylesheet" href="{% static 'Css/service.css' %}">
</head>
<body>
    <h2>Main services</h2>
    <section>
        <div class="service-container">
            <a href="{%url 'ojm_core:service_detail'%}">
                <div class="service">
                    <span class="discount">
                        10% OFF
                    </span>
                    <img src="{% static 'Assest/Img/electrical-installation.jpg' %}" alt="">
                    <div class="info">
                        <div class="name">Electrical installation </div>
                        <div class="price">
                            <div class="starts-from">
                                <small>Starts from <br> <s>#5000.00</s><br><span>#3000.00</span></small>
                            </div>
                            <div class="book-service">
                                <input type="submit" value="Book now">
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="{%url 'ojm_core:service_detail'%}">
                <div class="service">
                    <span class="discount">
                        10% OFF
                    </span>
                    <img src="{% static 'Assest/Img/electrical-installation.jpg' %}" alt="">
                    <div class="info">
                        <div class="name">Electrical installation </div>
                        <div class="price">
                            <div class="starts-from">
                                <small>Starts from <br> <s>#5000.00</s><br><span>#3000.00</span></small>
                            </div>
                            <div class="book-service">
                                <input type="submit" value="Book now">
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="{%url 'ojm_core:service_detail'%}">
                <div class="service">
                    <span class="discount">
                        10% OFF
                    </span>
                    <img src="{% static 'Assest/Img/electrical-installation.jpg' %}" alt="">
                    <div class="info">
                        <div class="name">Electrical installation </div>
                        <div class="price">
                            <div class="starts-from">
                                <small>Starts from <br> <s>#5000.00</s><br><span>#3000.00</span></small>
                            </div>
                            <div class="book-service">
                                <input type="submit" value="Book now">
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="{%url 'ojm_core:service_detail'%}">
                <div class="service">
                    <span class="discount">
                        10% OFF
                    </span>
                    <img src="{% static 'Assest/Img/electrical-installation.jpg' %}" alt="">
                    <div class="info">
                        <div class="name">Electrical installation </div>
                        <div class="price">
                            <div class="starts-from">
                                <small>Starts from <br> <s>#5000.00</s><br><span>#3000.00</span></small>
                            </div>
                            <div class="book-service">
                                <input type="submit" value="Book now">
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </section>




    <script src="{% static 'Js/service.js' %}"></script>
</body>
</html>