{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'Assest/Img/ojm log.png'%}" type="image/x-icon" />
    <title>Service Categories</title>
    <link rel="stylesheet" href="{% static 'Css/services.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2>Service Categories</h2>
        <div class="slider">
            {% for category in categories %}
            <div class="card" onclick="showSubCategory(this)" data-category="{{ category.name }}">
                <div class="main-content">
                    <img src="{{ category.image.url }}" alt="{{ category.name }}">
                    <p class="desc">{{ category.name }}</p>
                </div>
                <div class="sub-category">
                    {% for subcategory in category.subcategories.all %}
                    <a href="{% url 'ojm_core:service_list' subcategory.id %}">
                        <div class="sub-card">
                            <img src="{{ subcategory.image.url }}" alt="{{ subcategory.name }}">
                            <div class="details">
                                <span class="name">{{ subcategory.name }}</span>
                                <small class="info">{{ subcategory.short_description|truncatechars:50 }}</small>
                                <span class="count">{{ subcategory.service_count }} service{{ subcategory.service_count|pluralize }}</span>
                            </div>
                        </div>
                    </a>
                    {%endfor%}
                </div>
            </div>
            {%endfor%}
        </div>
        <h3>Sub Categories</h3>
        <div class="sub-category-display">
            <div class="sub-category-content"></div>
        </div>
    </div>
    <script src="{% static 'Js/services.js' %}"></script>
</body>
</html>
