{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'Assest/Img/ojm-log.png'%}" type="image/x-icon" />
    <title>Service Details</title>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css" />
    <link rel="stylesheet" href="{% static 'Css/single.css' %}">
</head>
<body>
    <section>
        <div class="main-container">
            <div class="top">
                <h2>{{ service.name }}</h2>
                <img src="{{ service.cover_image.url }}" alt="{{ service.name }}">
                <div class="service-box">
                    <div class="image">
                        <img src="{{ service.image.url }}" alt="{{ service.name }}">
                        <div class="description">
                            <div class="rating">
                                {{service.get_rating_display}}
                            </div>
                            <div class="text">
                                {{ service.description|truncatechars:70 }}
                            </div>
                        </div>
                    </div>
                    <div class="price">
                        <div class="amount">
                            <s>₦{{ service.original_price }}</s>
                            <span>₦{{ service.price }}</span>
                        </div>
                        <div class="book-now">
                            <form method="GET" action="{%url 'ojm_core:search'%}">
                                <input type="hidden" name="query" placeholder="What service do you need?" value="{{ service.name }}">
                                <button type="submit">Book now</button>
                              </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-container">
                <div class="tabs">
                    <div class="tab" data-tab="content1">Service Overview</div>
                    <div class="tab" data-tab="content2">FAQs</div>
                    <div class="tab" data-tab="content3">Reviews</div>
                    <div class="line"></div>
                </div>
                <div class="contents">
                    <div class="content" id="content1">
                        <h3>Overview of Service</h3>
                        
                        <p>Note to customer</p>
                        <ul>
                            {{ service.note_to_customer }}
                        </ul>
                    </div>
                    <div class="content" id="content2">
                        <h3>Frequently asked questions about this service</h3>
                        
                    </div>
                    <div class="content" id="content3">
                        <h3>No Reviews Yet</h3>
                    </div>
                </div>
            </div>
            <script src="{% static 'Js/single.js' %}"></script>
        </div>
    </section>
</body>
</html>