<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome to OJM Electrical</title>
</head>
<body>
    <h1>Welcome to OJM Electrical, {{ user.username }}!</h1>
    <p>Congratulations on activating your account. As an electrician, you now have 10 free quotes to start connecting with potential customers.</p>
    <p>To view the latest requests and start using your quotes, click the link below:</p>
    <p><a href="https://{{ domain }}/requests">View Requests</a></p>
    <p>If you have any questions or need assistance, feel free to contact our support team.</p>
    <p>Best regards,</p>
    <p>The OJM Electrical Team</p>
</body>
</html>
